.textarea-widget-container {
  width: 100%;
  margin-top: 0px !important;
  margin-bottom: 16px !important;
}

 .textarea-widget-container > textarea {
  width: 100%;
  padding: 0 !important;
  resize: none;
}
