.mode-card {
  margin: 20px;
  max-width: 450px;
  margin-bottom: 0px;
}

.mode-card:last-child {
  margin-bottom: 20px;
}
.mode-card-select {
  width: 200px;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
  margin-left: 10px;
}

.settings-card-menu {
    position: absolute;
    transform-origin: right top 0px;
    transform: scale(1, 1);
    right: 0px;
    top: 40px;
    z-index: 2;
}

button.mode-card-settings-button {
  margin-left: 10px;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  max-width: 20px !important;
  width: 20px !important;
  min-width: auto;
  margin-right: 0px;
}