body {
  margin: 0px;
  min-width: 700px;
  min-height: 700px;
}

 .options-menu-header {
  z-index: 5;
}

.saka-toolbar .saka-toolbar-item {
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 62px;
  line-height: 62px;
  padding: 0px 12px;
}

.saka-toolbar-item__active {
  border-bottom: 2px solid;
  border-bottom-color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.settings-header {
  background-color: #3f51F5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.simple-content-card {
  margin: 20px;
  align-items: center;
  text-align: center;
}

.settings-content {
  display: inline-flex;
  flex-direction: column;
  margin-left: 280px;
}

.settings-menu {
  width: 100%;
  flex-direction: column;
}

.command-entry {
  justify-content: space-between;
  height: 24px !important;
}

.command-entry-button {
  height: 24px;
  line-height: 24px;
}

.command-list {
  padding-left: 0px;
}

.saka-logo {
  height: 32px;
  margin-right: 8px;
}

.key-text {
  padding: 0px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4081;
  color: #ff4081;
  border-radius: 4px;
  margin: 0px 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
