.mode-card {
  margin: 20px;
  max-width: 450px;
}
.mode-card-select {
  width: 200px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}

button.mode-card-settings-button {
  margin-left: 10px;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  max-width: 20px !important;
  width: 20px !important;
}