.color-widget {
  justify-content: space-between !important;
}


body {
  margin: 0px;
}

.help-menu {
  max-width: 400px;
}

.command-entry {
  justify-content: space-between;
  height: 24px !important;
}

.command-entry-button {
  height: 24px;
  line-height: 24px;
}

.command-list {
  padding-left: 0px;
}

.saka-logo {
  height: 32px;
  margin-right: 8px;
}

.key-text {
  padding: 0px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff4081;
  color: #ff4081;
  border-radius: 4px;
  margin: 0px 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}